body{
	background-color: #f7fafd;
}
main{
	background-color: #FFFAFA;
}
.logo{
	min-height: 60px;
	max-width: 120px;
}	
h2{
	color: #0cb1e8;
	margin-right: 50px;
}	
.bg-primary{
	background-color: rgba(100, 161, 227, 0.86) !important;
}
.no-bullets{
	list-style: none;
}
.no-bullets li{
	line-height: 50px;
	font-size: 20px;
}
.div-contato{
	padding-left: 70px;
}
.md-icon{
	font-size: 30px;
	color: #0cb1e8;
}
.cor-font-rodape{
	color: white;
}
.btn-round{
	border-radius: 100px;
	max-height: 39px;
	min-width: 50px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	background-color: white;
}
.big-icon{
	font-size: 21pt;
	padding: 0px 0 10px 0;
	box-sizing: initial;
}

.tamanho-slide{
	width: 80%;
	height: 400px;
	margin: auto;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.tamanho-img-about{
	/*margin: auto;*/
	width: 70%;
	border: 1px solid #0cb1e8;
	border-radius: 15px;
	box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.55);
}
.m-div-section{
	padding-left: 110px;
}
.bg-workaround{
	background-color: #f3f3f3;
}

#back-to-top-btn {
	/*display: none;*/
	position: fixed;
	bottom: 5px;
	right: 5px;
	font-size: 21px;
	width: 50px;
	height: 50px;
	background-color: white;
	color: #7aade6;
	cursor: pointer;
	outline: none;
	/*border: 3px solid #333;*/
	border-radius: 50%;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
	background-color: #7aade6;
	color: #fff;  
}

